<div class="topnav">
    <div class="left">
        <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
        <img src="/assets/sakamichiTV_logo.png" height="36px">
    </div>
    <div class="middle">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="search-box">
            <input type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch style="width: 70px"><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div>
    <div class="right">
        <a href="https://www.nogizaka46.com/"><img src="/assets/nogizaka.png" height="36px"></a>
        <a href="https://sakurazaka46.com/"><img src="/assets/sakurazaka.png" height="36px"></a>
        <a href="https://hinatazaka46.com/"><img src="/assets/hinatazaka.png" height="36px"></a>
        <nz-avatar nzIcon="user" nzSrc="/assets/kosakana.jpg" style="margin-left: 15px"></nz-avatar>
    </div>
</div>