<topnav-comp class="topnav"></topnav-comp>

<div class="container" *ngIf="doneLoading">
    <div class="subcontainer">
        <div class="player-container">
            <video class="player" controls [poster]="video.thumbnail">
                <source [src]="video.video_url">
            </video>
            <span class="title">{{video.title}}</span>
            <div class="statbox">
                <span class="info">{{video.views}} views・{{video.upload_date}}</span>
                <div class="likes">
                    <div class="icon-container">
                        <i nz-icon nzType="like" nzTheme="fill" style="font-size: 15pt; padding-right: 5px;"></i>
                        <span style="font-size: 11pt;">{{video.like}}</span>
                    </div>
                    <div class="icon-container">
                        <i nz-icon nzType="dislike" nzTheme="fill" style="font-size: 15pt; padding-right: 5px;"></i>
                        <span style="font-size: 11pt;">{{video.dislike}}</span>
                    </div>
                </div>
            </div>
            <div class="channel">
                <nz-avatar nzIcon="user" nzSrc="/assets/hinatazaka.png" [nzShape]="'square'" [nzSize]="50"></nz-avatar>
                <span class="channel-name">{{video.uploader}}</span>
            </div>
            <div style="font-size: 12pt; padding: 15px 0">
                {{data.length}} Comments
            </div>
            <nz-comment>
                <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
                <nz-comment-content>
                    <nz-form-item>
                        <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                    </nz-form-item>
                    <nz-form-item>
                        <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue"
                            (click)="handleSubmit()" style="margin-top: 15px;" >
                            Add Comment
                        </button>
                    </nz-form-item>
                </nz-comment-content>
            </nz-comment>
            <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                    <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
                        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                        <nz-comment-content>
                            <p>{{ item.content }}</p>
                        </nz-comment-content>
                    </nz-comment>
                </ng-template>
            </nz-list>

        </div>

        <div class="suggestion">
            <div *ngFor="let v of videos" class="video-card">
                <img class="image" [src]="v.thumbnail">
                <div class="info">
                    <span class="title" nz-typography nzEllipsis nzEllipsisRows="2">{{v.title}}</span>
                    <br>
                    <span class="uploader">{{v.uploader}}</span>
                    <br>
                    <span class="views">{{v.views}} views・{{v.upload_date}}</span>
                </div>
            </div>
        </div>

    </div>
</div>