.topnav {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}
.container {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    background-color: #f9f9f9;
    width: 100%;
    .sidenav {
        z-index: 1;
        position: fixed;
        margin-top: 56px;
        background-color: white;
    }
    .subcontainer {
        display: flex;
        flex-direction: row;
        margin-top: 56px;
        width: 100%;
        max-width: 1754px;
        padding: 15px;

        .player-container {
            width: calc(100% - 350px);
            padding: 15px 10px 15px 25px;
            display: flex;
            flex-direction: column;
            .player {
                width: 100%;
                padding-bottom: 12px;
            }
            .title {
                font-size: 20px;
                padding-bottom: 10px;
            }
            .statbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 40px;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);

                .likes {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    font-size: 14pt;

                    .icon-container {
                        color: rgb(144, 144, 144);
                        cursor: pointer;
                        padding-right: 15px;
                        padding-left: 15px;
                        border-bottom: solid 2px rgb(144, 144, 144);
                    }
                }
                .icon-container:hover {
                    color: rgb(77, 77, 77) !important;
                }
            }
            .channel {
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                padding-bottom: 20px;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
                .channel-name {
                    padding: 10px 10px 10px 20px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .comment {
                display: flex;
                flex-direction: row;
            }
        }
        .suggestion {
            padding: 5px 5px 5px 10px;
            width: 450px;
            .video-card {
                display: flex;
                flex-direction: row;
                padding: 8px;
                cursor: pointer;
                .image {
                    width: 168px;
                }
                .info {
                    padding: 8px;
                    .title {
                        font-size: 14px;
                        font-weight: 500;
                        max-width: 230px;
                    }
                    .uploader,
                    .views {
                        font-size: 12px;
                        color: rgb(144, 144, 144);
                    }
                }
            }
            .video-card:hover {
                background-color: #f0f0f0;
            }
        }
    }
}
