<topnav-comp class="topnav"></topnav-comp>

<div class="container">
    <sidenav-comp class="sidenav" [enableMiniMode]="true"></sidenav-comp>
    <div class="subcontainer">
        <div class="content" [ngClass]="{'miniMode': miniMode, 'wideMode' : !miniMode}" nz-row >
            <div *ngFor="let v of videos" nz-col class="video-card" [nzFlex]="nzflex">
                <img [src]="v.thumbnail" (click)="goToVideo(v)">
                <div class="info">
                    <nz-avatar nzIcon="user" [nzSrc]="v.avatar"></nz-avatar>
                    <div class="subinfo">
                        <span class="title" nz-typography nzEllipsis nzEllipsisRows="2">{{v.title}}</span>
                        <br>
                        <span class="stats" nz-typography nzEllipsis>{{v.uploader}}</span>
                        <br>
                        <span class="stats">{{v.views}} views ・{{v.upload_date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>