<ll nz-menu nzMode="inline">
    <li nz-menu-item>
        <i nz-icon nzType="home" nzTheme="fill" style="font-size: 15pt; padding-right: 5px;"></i>
        <a href="" style="font-size: 11pt;">Home</a>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="history" style="font-size: 15pt; padding-right: 5px;"></i>

        <a href="/mycollection" style="font-size: 11pt;">Watched History</a> 
    </li>
    <nz-divider></nz-divider>
    <li nz-menu-item>
        <img src="/assets/nogizaka.png" style="height: 25px; padding-right: 15px;" />
        <a>乃木坂46</a>
    </li>
    <li nz-menu-item>
        <img src="/assets/sakurazaka.png" style="height: 25px; padding-right: 15px;" />
        <a>欅坂（櫻坂46）</a> 
    </li>
    <li nz-menu-item>
        <img src="/assets/hinatazaka.png" style="height: 25px; padding-right: 15px;" />
        <a>日向坂46 (けやき坂46)</a>
    </li>
    
</ll>